h1   {color: blue;
    font-family: 'Sevillana', cursiva;}
#imagen {
    display:inline-block;
    background-image: url("https://cdn-3.expansion.mx/dims4/default/ca7dd94/2147483647/strip/true/crop/800x451+0+0/resize/1200x677!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2Fd5%2Ff1%2F1baa220049f6b976485d43d2c48a%2Foso-polar-manitoba.jpg");
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;	
    width:35%; 
    height: 310px;   
}